.slick-prev {
    left: 0px !important;
    z-index: 2;
}

.slick-next {
    right: 8px !important;
    z-index: 2;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(255, 255, 255) !important;
    font-size: 28px !important;
    opacity: 1 !important;
}

.banner-home {
    background-color: #cfffe0;
    margin-bottom: 80px;
}

.banner-home p {
    margin-bottom: 0;
    padding: 5px 0px;
}

.banner-content {
    margin: 25px 0;
    color: #257140;
    font-size: 19px;
    font-weight: 500;
    cursor: default;
}

.container-fl {
    width: 100%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container-fl {
        /* max-width: 1254px; */
        max-width: 1170px;
    }
}

.q-home {
    margin-bottom: 100px;
}
.q-home p,
.card-home-crs3 p {
    margin-bottom: 0;
}
@media (max-width: 678px) {
    .q-home {
        margin-bottom: 35px;
    }
}
.box-container-h{
margin-bottom: 130px;
}
@media (max-width: 678px) {
    .box-container-h{
        margin-bottom: 65px;
        }
}

.card-home-crs3 {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
    border-radius: 30px;
    margin: 5px 15px;
    padding: 20px 0;
    min-height: 384px;
    display: flex;
    justify-content: center;
}

.card-home-crs3 p {
    cursor: default;
}

.card-home-crs3 a {
    text-decoration: none;
    color: #257140;
}

.content-crs3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}

.category-h {
    box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
    border-radius: 10px;
    margin: 5px 30px 5px 0px;
    padding: 20px 0;
    cursor: pointer;

}

.category-h img {
    width: 88%;
    height: auto;
}
.list-cate-crs {
    padding: 30px 0;
}
.list-cate-crs .swiper {
    overflow: visible;
}

@media (max-width: 768px) {
    .category-h {
        margin: 5px 15px 5px 0px;
    }

}

.cer-card {
    margin: 5px 30px 5px 0px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cer-card {
        margin: 5px 15px 5px 0px;
    }

}


.btn-more-cate {
    background-color: transparent;
    color: #257140;
    border: 2px solid #257140;
    border-radius: 7px;
    padding: 8px 5px 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.btn-more-cate:hover {
    background-color: #257140;
    color: white;
    border: 2px solid #257140;
}

.img-cr1-h {
    height: 590px;
    width: 100%;
}
.rps-title1-h {
    font-size: 36px;
    margin-bottom: 25px;
}
.rps-title2-h {
    font-size: 30px;
    margin-bottom: 0;
}

@media (max-width: 567px) {
    .rps-title1-h {
        font-size: 25px;
    }
    .rps-title2-h {
        font-size: 25px;
    }
}
.rps-title2-h-ctn{
    margin-bottom: 100px;
}
.modal-certification {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}