.header-top{
    height: 35px;
    background-color: #257140;
}
.header-top p {
    color: #f0f0f0;
    margin-bottom: 0;
    font-size: 13px;
    align-content: center;
}
.header-top a {
    color: #f0f0f0;
    margin-bottom: 0;
    font-size: 13px;
    align-content: center;
    text-decoration: none;
}
.header-nav p {
    color: #257140;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    align-content: center;
}
.header-nav {
    background-color: white;
    height: 85px;
    display: flex;
}
.title-menu {
    padding-right: 16px;
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-menu:hover p {
    color: rgb(243, 150, 0);
}
.title-menu:hover span {
    color: rgb(243, 150, 0);
}
.title-menu span {
    color: #257140;
}
.dropdown-menu-content {
    visibility: hidden;
    background-color: white;
    position: absolute;
    min-width: 200%;
    top: 75px;
    left: -50px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 20px #8888887a;
    border-radius: 7px;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}
.title-menu:hover .dropdown-menu-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.title-menu:not(:hover) .dropdown-menu-content {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}
.dropdown-menu-content a {
    text-decoration: none;
    color: #257140;
    display: block;
 
}
.dropdown-menu-content a:hover {
    color: rgb(243, 150, 0);
}
.fixed-top-header {
    position: fixed;
    width: 100%;
}
.header-container, .header-layer {
    display: block;
}
@media screen and (max-width: 992px) {
    .header-container, .header-layer {
        display: none;
    }
}
.quantity-cart {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(240, 0, 0);
    font-size: 10px;
    left: 12px;
    top: 4px;
    color: white;
    padding-top: 2px;
}
.c-w-1 {
    color: #f0f0f0;
}
.wide-nav {
    position: relative;
    z-index: 4;
}